{% extends "skeleton.html" %}
{% block title %}Car Table{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block logout %}{% endblock %}
{% block after_nav %}
{% endblock %}
{% block content %}
<br>
<div class="row center-align red lighten-5">
    <h1 class="header center grey-text">CREATING A NEW EMPLOYE</h1>
    <div class="col s4"></div>
    <div class="col s4">
        <form action="{{ url_for('create_employe') }}" method="post">
            <br><br>
            <label for="name"><h5>name</h5></label>
            <input class="center-align" type="text" name="name">
            <label for="name"><h5>username</h5></label>
            <input class="center-align" type="text" name="username">
            <label for="password"><h5>password</h5></label>
            <input class="center-align" type="password" name="password">
            <label for="email"><h5>email</h5></label>
            <input class="center-align" type="email" name="email">
            <br><br>
            <button class="btn waves-effect waves-light red" type="submit" name="action">Create Account
                <i class="material-icons right">send</i>
            </button>
            <p class="red-text">{{ msg }}</p>
            <br><br>
        </form>
    </div>
    <div class="col s4"></div>
    
    <br>
    <br><br>

</div>
{% endblock %}